*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 16px;
}

.center{
	padding-right: calc(50% - 900px);
	padding-left: calc(50% - 900px);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: #3B1C12;
  font-size: 18px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

main {
  flex: 1; 
}

header {
  background: #FEF5F3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px #3B1C12 solid;
} 

.header_img {
  width: 195px;
  height: 80px;
}

.header_links {
  display: flex;
  gap: 60px;
}

footer {
  background: #FEF5F3;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 1px #3B1C12 solid;
}

.footer_logo {
  width: 76px;
}

.footer_ss {
  opacity: 1;
  a img {
    &:hover {
      transition: 0.3s ;
      opacity: 0.6;
    }
  }
}

.footer_bottom {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-top: 16px;
}

.footer_link {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

.t {
  display: none;
}

@media (min-width: 900px) and (max-width: 1500px) {
  .t {
    display: block;
  }
}