* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

.center {
    padding-right: calc(50% - 700px);
    padding-left: calc(50% - 700px);
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    color: #3b1c12;
    font-size: 1.125rem;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
}

header {
    position: relative;
    background: #fef5f3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.0625rem #3b1c12 solid;
}

.header_img {
    width: 12.1875rem;
    height: 5rem;
}

.header_links {
    display: flex;
    gap: 3.75rem;
}

.acttive-link {
    color: #E4336C;
}

.burger {
    display: none;
}

.burger-menu {
    display: none;
    background: #FFFCFB;
    width: 100dvw;
    position: absolute;
    top: 5.3125rem;
    left: 0;
    z-index: 9999999;
}

.burger_access {
    display: block;
}

.burger_x {
    display: none;
}

.burger.active .burger_access {
    display: none;
}

.burger.active .burger_x {
    display: block;
}

.burger-menu.active {
    display: block;
}

.burger-menu_item {
    padding: 1.875rem 0;
    text-align: center;
    border-bottom: 0.0625rem #3b1c12 solid;
}

.pictures {
    padding-top: 1.25rem;
}

.slider-track {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
    gap: 2rem;
    align-items: center;

    img {
        height: auto;
        object-fit: cover;
        border-radius: 0.5rem;
        width: 100%;
    }
}


.main_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #3b1c12;
    padding-top: 2.5rem;
    padding-bottom: 3.75rem;
    border-bottom: 0.0625rem #3b1c12 solid;
}

.button {
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12.625rem;
    height: 3rem;
    text-align: center;
}

.button_access {
    text-align: center;
    background: #108000;
    color: #fef5f3;
    border-radius: 0.3125rem;
}

.button_primary {
    background: #3b1c12;
    color: #fef5f3;
    border-radius: 0.3125rem;
}

.main_top2 {
    padding-top: 3.75rem;
    padding-bottom: 1.875rem;
}


.main_bottom2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3b1c12;
    padding-top: 2.5rem;
    padding-bottom: 3.75rem;
}

.main_top3 {
    padding-top: 3.75rem;
    padding-bottom: 1.875rem;
}

.rectangle {
    width: 38rem;
    height: 46.8125rem;
    background: #fef5f3;
    border-radius: 0.625rem;
}

.main_img3 {
    width: 38.0625rem;
    height: 53.6875rem;
}

.main_bottom3 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.questions {
    margin: 7.5rem 0;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.questions_img {
    position: relative;
}

.questions_img img {
    width: 100%;
}

.questions_head {
    position: absolute;
    bottom: 3.5rem;
    left: 0;
    padding-left: 0.875rem;
}

.questions_head h2 {
    color: #fef5f3;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 0.625rem;
}

.questions_head p {
    color: #fef5f3;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.questions_right {
    background: #fef5f3;
    flex: 1;
    padding: 5rem 2.1875rem;
    border-radius: 0.625rem;
}

.accordion-item {
    border-bottom: 0.0625rem solid #3b1c12;
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
}

.accordion-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #3b1c12;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    cursor: pointer;
    text-align: start;
}

.accordion-header img {
    width: 1.25rem;
}

.accordion {
    border-top: 0.0625rem solid #3b1c12;
}

.accordion-content {
    display: none;
    overflow: hidden;
    padding-top: 1.875rem;
    padding-bottom: 2.5rem;
}

.accordion-item.active .accordion-content {
    display: flex;
}

.accordion-item.active .accordion-header {
    color: #108000;
}

.accordion-item.active .accordion-header img {
    transform: rotate(180deg);
}

.accordion-content-price {
    display: none;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    flex-direction: column;
    gap: 1rem;
}

.info-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 1.25rem;
}

.info-description {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.price-section {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    word-spacing: 3.75rem;
}

.accordion-item.active .accordion-content-price {
    display: flex;
}

.connection {
    height: 17.25rem;
    margin: 7.5rem 0;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-radius: 0.625rem;
    background-image: url("/assets/home/img/connection.png");
    background-position: center;
    background-size: cover;
}

.connection h1 {
    color: #FFF;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.connection input {
    width: 21.875rem;
    display: flex;
    padding: 0.75rem;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.3125rem;
    background: #FFF;
}

.connection p {
    align-self: stretch;
    color: rgba(255, 252, 251, 0.81);
    text-align: center;
    font-size: 0.6875rem;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
}

.connection_btn {
    display: flex;
    width: 21.875rem;
    padding: 0.75rem 1.5rem;
    font-size: 1.1rem;
    align-items: center;
}

.promo {
    padding-top: 3.125rem;
    padding-bottom: 7.5rem;
}

.promo_head {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        color: #3B1C12;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        line-height: 3rem;
    }

    p {
        color: #3B1C12;
        text-align: center;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.6875rem;
    }
}

.promo_description {
    margin: 2rem 0;

    h2 {
        color: #3B1C12;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 2.25rem;
    }

    p {
        color: #3B1C12;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.6875rem;
    }
}

.promo_container {
    display: grid;
    gap: 1.875rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "img  friend friend"
        "img  btn img2"
        "sails sails img2";
}

.friend {
    grid-area: friend;
}

.sails {
    grid-area: sails;
}

.container_img {
    grid-area: img;

    img {
        width: 100%;
    }
}

.container_box {
    padding: 4.875rem 2.0625rem;
    border-radius: 0.625rem;
    background: #FEF5F3;

    h3 {
        color: #3B1C12;
        font-size: 1.25rem;
        font-style: revert;
        font-weight: 400;
        line-height: 1.5rem;

        span {
            color: #E4336C;
            font-size: 2rem;
            font-style: normal;
            font-weight: 400;
            line-height: 2.4rem;
        }
    }
}

.container_btn {
    grid-area: btn;
    display: flex;
    justify-content: center;
    align-items: center;
}

.friends_description {
    margin-top: 2.5rem;
    color: #3B1C12;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.4rem;
}

.container_img2 {
    grid-area: img2;

    img {
        width: 100%;
    }
}

.about {
    padding-top: 3.125rem; /* 50px */
    margin-bottom: 6.25rem; /* 100px */
    background-color: #FFFCFB;
}

.about_title {
    color: #3B1C12;
    text-align: center;
    font-size: 1.75rem; /* 28px */
    font-style: normal;
    font-weight: bold;
    line-height: 1.5; /* 150% */
    text-transform: uppercase;
}

.about_subtitle {
    color: #3B1C12;
    text-align: center;
    font-size: 0.9375rem; /* 15px */
    font-style: normal;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 2.1875rem; /* 35px */
}

.about_tagline {
    color: #3B1C12;
    font-size: 1.25rem; /* 20px */
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    text-transform: uppercase;
    margin-bottom: 1.25rem; /* 20px */
}

.about_stats {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 1px solid #ccc;
    margin-bottom: 3.75rem; /* 60px */
    flex-wrap: wrap;
}

.about_stat {
    flex: 1;
    padding: 1.25rem; /* 20px */
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.about_stat:first-child {
    border-left: none;
}

.about_stat-label {
    font-size: 0.875rem; /* 14px */
    color: #444;
}

.about_stat-value {
    font-size: 1.5rem; /* 24px */
    color: #eb007b;
    font-weight: bold;
    margin-top: 0.625rem; /* 10px */
}

.about_locations {
    text-align: center;
}

.about_locations-title {
    text-align: start;
    color: #3B1C12;
    font-size: 1.75rem; /* 28px */
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
}

.about_locations-subtitle {
    text-align: start;
    color: #3B1C12;
    font-size: 0.9375rem; /* 15px */
    font-style: normal;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 1.875rem; /* 30px */
}

.about_locations-container {
    border-radius: 0.625rem; /* 10px */
    background: #FEF5F3;
    padding: 2.5rem 3.125rem; /* 40px 50px */
}

.about_locations-container h2 {
    text-align: left;
    color: #3B1C12;
    font-size: 1.125rem; /* 18px */
    font-style: normal;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 0.3125rem; /* 5px */
}

.about_locations-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.875rem; /* 30px */
}

.about_location {
    flex: 1;
    min-width: 13.75rem; /* 220px */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem; /* 24px */
    margin-top: 1.25rem; /* 20px */
}

.about_branch {
    padding: 0.625rem 0; /* 10px 0 */
}

.about_branch-name {
    text-align: start;
    color: #3B1C12;
    font-size: 1.25rem; /* 20px */
    font-style: normal;
    font-weight: 300;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 1.5625rem; /* 25px */
}

.about_branch-address,
.about_branch-time,
.about_branch-phone {
    text-align: start;
    font-size: 0.875rem; /* 14px */
    color: #444;
    line-height: 1.4;
    text-decoration: underline;
    cursor: pointer;
}

.about_location-map {
    flex: 1;
    min-width: 18.75rem; /* 300px */
    text-align: center;
}

.about_location-map img {
    width: 100%;
    max-width: 21.875rem; /* 350px */
    height: auto;
    border-radius: 0.625rem; /* 10px */
}

.about_button-box {
    display: flex;
    justify-content: end;
    margin-top: 1.875rem; /* 30px */
}

.about_button {
    font-size: 1.0625rem; /* 17px */
    font-style: normal;
    font-weight: 550;
    line-height: 1.5;
    display: inline-block;
    padding: 0.75rem 1.75rem; /* 12px 28px */
}

@media (max-width: 768px) {
    .about {
        padding-top: 2rem;
        margin-bottom: 4rem;
    }

    .about_title {
        font-size: 1.5rem; /* 24px */
    }

    .about_subtitle,
    .about_tagline {
        font-size: 0.875rem; /* 14px */
    }

    .about_stats {
        gap: 1rem;
    }

    .about_stat {
        padding: 1rem 0;
    }

    .about_stat-value {
        font-size: 1.25rem; /* 20px */
    }

    .about_locations-container {
        padding: 2rem;
    }

    .about_locations-title {
        font-size: 1.5rem; /* 24px */
    }

    .about_locations-subtitle {
        font-size: 0.875rem;
    }

    .about_locations-wrapper {
        flex-direction: column;
        gap: 2rem;
    }

    .about_location {
        width: 100%;
        margin-top: 1rem;
    }

    .about_branch-name {
        font-size: 1.125rem; /* 18px */
        margin-bottom: 1rem;
    }

    .about_branch-address,
    .about_branch-time,
    .about_branch-phone {
        font-size: 0.8125rem; /* 13px */
    }

    .about_location-map img {
        max-width: 100%;
        height: auto;
    }

    .about_button-box {
        justify-content: center;
    }

    .about_button {
        width: 100%;
        text-align: center;
        padding: 0.75rem;
        font-size: 1rem;
    }
}



/* Footer */
footer {
    background: #fef5f3;
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
}

.footer_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.875rem;
    border-bottom: 0.0625rem #3b1c12 solid;
}

.footer_logo {
    width: 4.75rem;
}

.footer_ss {
    opacity: 1;
}

.footer_ss a img:hover {
    transition: 0.3s;
    opacity: 0.6;
}

.footer_bottom {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding-top: 1rem;
}

.footer_link {
    text-decoration: underline;
}

.footer_link:hover {
    text-decoration: none;
}

/* media */
@media (min-width: 1064px) and (max-width: 1442px) {
    .center {
        padding-right: calc(50% - 31.25rem);
        padding-left: calc(50% - 31.25rem);
    }
}

@media (max-width: 1063px) {
    .header_links {
        display: none;
    }

    a {
        font-size: 1.5rem;
    }

    .slider-track {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        gap: 1rem;
        scroll-padding: 1rem;
        padding: 1rem;
    }

    .slider-track img {
        flex: 0 0 auto;
        width: 60%; /* Можно подогнать под нужный размер */
        scroll-snap-align: center;
    }

    .burger {
        display: flex;
        align-items: center;
    }

    .info-block {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.75rem;
    }

    .price-section {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.5rem;
        word-spacing: normal;
    }

    .price-section div {
        display: flex;
        gap: 0.5rem;
        font-weight: 500;
    }

    .info-description div:first-child {
        font-weight: 600;
        font-size: 1rem;
    }

    .small-text {
        font-size: 0.875rem;
        color: #666;
    }
}

@media (min-width: 768px) and (max-width: 1063px) {

    .small-text {
        width: 400px;
    }

    .center {
        padding-right: calc(50% - 350px);
        padding-left: calc(50% - 350px);
    }

    .questions_left {
        width: 100%;
    }

    .slider-track img {
        flex: 0 0 auto;
        width: 50%;
        scroll-snap-align: center;
    }

    .promo_container {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "img  friend"
            "sails  img2"
            "btn btn";
        gap: 1.5rem;
    }

    .container_btn {
        padding-top: 1rem;
    }
}

@media (min-width: 481px) and (max-width: 767px) {

    html {
        font-size: 12px;
    }

    .questions_left {
        width: 100%;
    }

    .center {
        padding-right: calc(50% - 230px);
        padding-left: calc(50% - 230px);
    }

    .promo_container {
        grid-template-columns: 1fr;
        grid-template-areas:
            "img"
            "friend"
            "img2"
            "sails"
            "btn";
        gap: 1.5rem;
    }

    .container_btn {
        padding-top: 1rem;
    }
}

@media (max-width: 480px) {

    .slider-track img {
        flex: 0 0 auto;
        width: 70%;
        scroll-snap-align: center;
    }

    html {
        font-size: 10px;
    }

    .questions_left {
        width: 100%;
    }

    .center {
        padding-right: 15px;
        padding-left: 15px;
    }

    .promo_container {
        grid-template-columns: 1fr;
        grid-template-areas:
             "img"
            "friend"
            "img2"
            "sails"
            "btn";
        gap: 1rem;
    }

    .container_btn {
        padding-top: 2rem;
    }
}

/* Популярные услуги */

.subtitle {
    margin: 8px 0 20px;
    color: #8e7b7b;
}

.cards-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: #fceeee;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: 1 1 30%;
    max-width: 32%;
    padding: 0;
}

.card-img {
    width: 100%;
    display: block;
    border-radius: 0;
}

.card-content {
    padding: 16px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card h3 {
    font-size: 1rem;
    margin: 8px 0;
    text-align: left;
}

.card p {
    font-size: 0.9rem;
    text-align: left;
    margin-bottom: 16px;
}

.price-row {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    text-align: left;
    color: #3e2d2d;
}

.price-row small {
    font-weight: normal;
    font-size: 0.75rem;
    display: block;
    margin-top: 4px;
}

.more-btn {
    background-color: #3c1f1f;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 1rem;
    border-radius: 8px;
    margin-top: 30px;
    cursor: pointer;
}

.more-btn:hover {
    background-color: #5a2d2d;
}

/* Мобильная адаптация */
@media (max-width: 768px) {
    .cards-container {
        flex-direction: column;
        gap: 20px;
    }

    .card {
        max-width: 100%;
    }
}

/* услуги форма обратной связи */
.connection_services {
    height: 34.5rem;
    margin: 7.5rem 0;
    padding: 6rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-radius: 0.625rem;
    background-image: url("/assets/services/img/Card.png");
    background-position: center;
    background-size: cover;
}

.connection_services h1 {
    color: #FFF;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-align: center;
}

.connection_services input {
    width: 21.875rem;
    display: flex;
    padding: 0.75rem;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.3125rem;
    background: #FFF;
}

.connection_services p {
    align-self: stretch;
    color: rgba(255, 252, 251, 0.81);
    text-align: center;
    font-size: 0.6875rem;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
}

.connection_services_btn {
    display: flex;
    width: 21.875rem;
    padding: 0.75rem 1.5rem;
    font-size: 1.1rem;
    align-items: center;
}
