* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	background: transparent;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}

.center {
	padding-right: calc(50% - 700px);
	padding-left: calc(50% - 700px);
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

a {
	color: #3b1c12;
	font-size: 18px;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

main {
	flex: 1;
}

header {
	position: relative;
	background: #fef5f3;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px #3b1c12 solid;
}

.header_img {
	width: 195px;
	height: 80px;
}

.header_links {
	display: flex;
	gap: 60px;
}

.acttive-link {
	color: #E4336C;
}

.burger {
	display: none;
}

.burger-menu {
	display: none;
	background: #FFFCFB;
	width: 100dvw;
	position: absolute;
	top: 85px;
	left: 0;
}

.burger_access {
	display: block;
}

.burger_x {
	display: none;
}

.burger.active .burger_access {
	display: none;
}

.burger.active .burger_x {
	display: block;
}

.burger-menu.active {
	display: block;
}

.burger-menu_item {
	padding: 30px 0;
	text-align: center;
	border-bottom: 1px #3b1c12 solid;
}

.main_img {
	width: 560px;
	height: 755px;
}

.main_top {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 32px;
	align-items: center;
	padding-top: 20px;
	img {
		width: 100%;
		height: auto;
		object-fit: cover;
		border-radius: 8px;
	}
}

.main_bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #3b1c12;
	padding-top: 40px;
	padding-bottom: 60px;
	border-bottom: 1px #3b1c12 solid;
}

.button_z {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 202px;
	height: 48px;
	text-align: center;
	background: #108000;
	color: #fef5f3;
	border-radius: 5px;
}

.main_top2 {
	padding-top: 60px;
	padding-bottom: 30px;
}

.button_e {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 202px;
	height: 48px;
	text-align: center;
	background: #3b1c12;
	color: #fef5f3;
	border-radius: 5px;
}
.main_bottom2 {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #3b1c12;
	padding-top: 40px;
	padding-bottom: 60px;
}
.main_top3 {
	padding-top: 60px;
	padding-bottom: 30px;
}

.rectangle {
	width: 608px;
	height: 749px;
	background: #fef5f3;
	border-radius: 10px;
}

.main_img3 {
	width: 609px;
	height: 859px;
}

.main_bottom3 {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

/*Questions*/

.questions {
	margin: 120px 0;
	display: flex;
	gap: 32px;
}

.questions_img {
	position: relative;
	img {
		width: 100%;
	}
}

.questions_head {
	position: absolute;
	bottom: 56px;
	left: 0;
	padding-left: 14px;

	h2 {
		color: #fef5f3;
		font-size: 32px;
		font-style: normal;
		font-weight: 400;
		line-height: 120%; /* 38.4px */
		margin-bottom: 10px;
	}

	p {
		color: #fef5f3;
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: 140%;
	}
}

.questions_right {
	background: #fef5f3;
	flex: 1;
	padding: 80px 35px;
	border-radius: 10px;
}

.accordion-item {
	border-bottom: 1px solid #3b1c12;
	padding-top: 15px;
	padding-bottom: 15px;
}

.accordion-header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #3b1c12;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%; /* 19.2px */
	cursor: pointer;
	text-align: start;

	img {
		width: 20px;
	}
}

.accordion {
	border-top: 1px solid #3b1c12;
}

.accordion-content {
	display: none;
	overflow: hidden;
	padding-top: 30px;
	padding-bottom: 40px;
}

.accordion-item.active .accordion-content {
	display: flex;
}

.accordion-item.active .accordion-header {
	color: #108000;
	img {
		transform: rotate(180deg);
	}
}

/*Services*/

.accordion-content-price{
	display: none;
	padding-top: 40px;
	padding-bottom: 40px;
	flex-direction: column;
	gap: 16px;
}

.info-block {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-top: 20px;
  }

  .info-description {
	display: flex;
	flex-direction: column;
	gap: 4px;
  }


  .price-section {
	display: flex;
	flex-direction: column;
	gap: 4px;
	word-spacing: 60px;

	
  }

  .accordion-item.active .accordion-content-price {
	display: flex;
}



/*Footer*/

footer {
	background: #fef5f3;
	padding-top: 60px;
	padding-bottom: 60px;
}
.footer_top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 30px;
	border-bottom: 1px #3b1c12 solid;
}

.footer_logo {
	width: 76px;
}

.footer_ss {
	opacity: 1;
	a img {
		&:hover {
			transition: 0.3s;
			opacity: 0.6;
		}
	}
}

.footer_bottom {
	display: flex;
	justify-content: center;
	gap: 24px;
	padding-top: 16px;
}

.footer_link {
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}

/* media */

@media (min-width: 1064px) and (max-width: 1442px) {
	.center {
		padding-right: calc(50% - 500px);
		padding-left: calc(50% - 500px);
	}
}

@media (max-width: 1063px) {
	.header_links {
		display: none;
	}

	.burger {
		display: flex;
		align-items: center;
	}
}

@media (min-width: 728px) and (max-width: 1063px) {
	.center {
		padding-right: calc(50% - 400px);
		padding-left: calc(50% - 400px);
	}
}

